:root{
    --main-color:#0b0b0b;
    --main-lighter-color:#303030;
    --sec-color:red;
    --des-sec-color:#FB6565;
    --img-width-focus:290px;
    --nav-height:70px;
    
    --brdr-radius:15px;
}